
<form #form="ngForm" >
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <ng-select (change)="enableAddBtn($event)" name="region" [(ngModel)]="devise.region">
                    <ng-option value="default">Select a region</ng-option>
                    <ng-option *ngFor="let region of regions" [value]="region.iso2">{{region.name}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-6 justify-content-center align-items-center">
            <button [disabled]="btnIsDesabled" (click)="onAddDevise(form)" class="btn btn-primary ms-auto d-block">
                <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <line x1="12" y1="5" x2="12" y2="19" />
                    <line x1="5" y1="12" x2="19" y2="12" />
                </svg>
                Add new devise
            </button>
        </div>
    </div>
</form>