<div class="page">
    <aside class="navbar navbar-vertical navbar-expand-lg navbar-transparent">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <h1 class="navbar-brand navbar-brand-autodark">
                <a href=".">
                    <img src="/api/logo.png" width="110" height="32" alt="Tabler" class="navbar-brand-image">
                </a>
            </h1>
            
            <div class="collapse navbar-collapse" id="navbar-menu">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </aside>
    <div class="page-wrapper">

        <router-outlet></router-outlet>

        <footer class="footer footer-transparent d-print-none">
            <app-footer></app-footer>
        </footer>
    </div>
</div>