<div class="modal modal-blur fade" id="modalView" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body ">
                <h3>View Economy</h3>
                <div class="mb-3">
                    <label for="amount" class="form-label">Amount {{ economy.amount |
                        currency:economy?.Devise?.currency:'symbol'}}</label>
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Added At</label>
                    <p>{{economy.createdAt | date}}</p>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" class="form-control" [(ngModel)]="economy.description" id="" cols="30" rows="10"
                        readonly></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col">
                            <button style="cursor: pointer;" class="btn-close d-none" data-bs-dismiss="modal"
                aria-label="Close" class="btn w-100 btn-primary">
                                Ok
                        </button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>